* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  padding: 5px 15px;
  grid-gap: 10px;
  grid-template-columns: 2fr 5fr;
}
nav {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
}

.Toggle-wrapper {
  display: flex;
  font-size: 10px;
  align-items: center;
  gap: 10px;
}

.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);
  position: relative;
  display: inline-block;
  width: 50px;
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.3s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.toggle input:checked + .slider {
  background-color: #5f264a;
}

.toggle input:checked + .slider::before {
  transform: translateX(25px);
}

.cart-container,
.item-wrapper {
  height: 90vh;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.admin-wrapper,
.archive-wrapper {
  height: 80vh;
  display: none;
  padding: 0px 15px;
}
