<style>
  .admin-wrapper nav {
    padding: 20px 20px 0;
    justify-content: space-between;
  }

  .admin-wrapper nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  .admin-wrapper nav ul li a {
    position: relative;
    text-decoration: none;
    color: black;
  }

  .admin-wrapper nav form [type="text"],
  [type="submit"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
  }

  .admin-wrapper nav form button {
    background-color: #5f264a;
    color: white;
    cursor: pointer;
  }

  .admin-wrapper nav form button:hover {
    background-color: #712d58;
  }

  .table {
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    max-height: 85%;
    overflow-y: auto;
    scrollbar-width: none;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  .table thead {
    position: sticky;
    top: 0;
  }

  tbody tr {
    border-bottom: 1px solid black;
  }

  tbody td img {
    height: 50px;
    width: 100px;
  }

  th,
  td {
    padding: 12px 15px;
  }

  th {
    background-color: #f2f2f2;
  }

  td {
    background-color: #fff;
  }

  .admin-wrapper .table button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #5f264a;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .admin-wrapper .table button:hover,
  .add-btn:hover {
    background-color: #712d58;
  }

  .add-btn {
    border: none;
    margin-top: 10px;
    padding: 15px 55px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #5f264a;
  }

  .delete-btn a {
    text-decoration: none;
    color: white;
  }
</style>

<div class="admin-wrapper" id="admin">
  <nav>
    <h1>Item Information</h1>
    <form action="search.php" method="GET">
      <input type="text" name="search" placeholder="Search..." />
      <button type="submit">Search</button>
    </form>
    <!-- <button class="archive-btn">Archive</button> -->
  </nav>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Item Image</th>
          <th>Item Name</th>
          <th>Item Price</th>
          <th>Item Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>
            <img
              src="static/{{ product[1] }}"
              alt="Product Image"
              class="product-image table-image"
            />
          </td>
          <td>{{ product[2] }}</td>
          <td>₱{{ product[3] }}</td>
          <td>{{ product[4] }}</td>
          <td>
            <button class="update-btn" data-id="({{ product[0] }})">
              Update
            </button>

            <button
              class="delete-btn"
              onclick="deleteRecord('{{ product[0] }}')"
            >
              Delete
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <button class="add-btn">Add Item</button>
</div>
