<style>
  .archive-wrapper .close {
    position: absolute;
    margin-top: -8px;
    right: 0;
    padding: 0 10px 10px;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
  }

  .archive-wrapper nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px 0;
  }

  .archive-wrapper .search-container {
    position: relative;
  }

  .archive-wrapper #search {
    padding: 5px 30px 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 200px;
  }

  .archive-wrapper button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .archive-wrapper button[type="submit"] img {
    width: 18px;
    height: 18px;
  }

  .archive-wrapper .table {
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    max-height: 85%;
    overflow-y: auto;
    scrollbar-width: none;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }

  .archive-wrapper table {
    width: 100%;
    border-collapse: collapse;
  }

  .archive-wrapper .table thead {
    position: sticky;
    top: 0;
  }

  .archive-wrapper tbody tr {
    border-bottom: 1px solid black;
  }

  th,
  td {
    padding: 12px 15px;
  }

  th {
    background-color: #f2f2f2;
  }

  td {
    background-color: #fff;
  }
</style>

<div class="archive-wrapper" id="archive">
  <span class="close" id="close-archive">&times;</span>
  <nav>
    <h1>Archive Items</h1>
    <form class="search-form">
      <div class="search-container">
        <input type="text" id="search" name="search" placeholder="Search..." />
        <button type="submit">
          <img src="/static/images/search.png" alt="Search" />
        </button>
      </div>
    </form>
  </nav>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Item Image</th>
          <th>Item Name</th>
          <th>Item Price</th>
          <th>Item Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
