<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <h1>Forgot Password?</h1>
      <p>
        Please enter your email address and we will send a password reset link
        to your email.
      </p>

      <form method="POST" , action="/forgot_password">
        {{ forgotForm.hidden_tag()}} {{ forgotForm.email (class="input-email")
        }} <br />
        <br />
        {{ forgotForm.submit (class="reset-button") }}
      </form>
    </center>
  </body>
</html>
