<style>
  /* Popup Container Styles */
  .help-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  /* Popup Styles */
  .Helppopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    height: 420px;
    width: 600px;
  }
  .Helppopup h2 {
    text-align: center;
    padding: 10px;
  }
  .Helppopup p,
  ul li p {
    text-align: justify;
  }

  .Helppopup ol {
    list-style: none;
    margin-top: 10px;
  }

  .Helppopup h2 {
    margin-top: 0;
  }

  /* Close Button Styles */
  .help-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  .help-back {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    font-size: 24px;
    cursor: pointer;
    display: none;
  }

  .play-icon {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #5f264a;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    margin-right: 5px;
  }

  .Helppopup video {
    width: 100%;
    height: 95%;
    margin-top: -10px;
    display: none;
  }
</style>

<div class="help-container" id="popupContainer">
  <div class="Helppopup" id="popup">
    <span class="help-close" id="close-btn">&times;</span>
    <img src="../static/images/return.png" class="help-back" />
    <h2>Instructions</h2>
    <div class="help-content">
      <p>
        Welcome to the Fresh Produce Merchandising System Tutorials! These video
        guides are designed to help users of all skill levels effectively
        navigate and utilize the features of our system. Each tutorial video is
        created to provide clear, step-by-step instructions on various
        functionalities.
      </p>

      <ol>
        <li>
          <span class="play-icon addtocart-help">PLAY</span>
          <strong>Add to Cart:</strong>
          Video guide on how to select products and add them to your shopping
          cart.
        </li>
        <br />
        <li>
          <span class="play-icon checkout-help">PLAY</span>
          <strong>Checkout:</strong> Step-by-step video on completing your
          purchase.
        </li>
        <br />
        <li>
          <span class="play-icon search-help">PLAY</span>
          <strong>Search Item:</strong> Instructions on how to use the search
          feature to find specific items quickly.
        </li>
        <br />
        <li>
          <span class="play-icon showFV-help">PLAY</span>
          <strong>Show Fruits or Vegetables:</strong> Tutorial on filtering
          products to display only fruits or vegetables.
        </li>
      </ol>
      <p style="margin-top: 10px">
        Each tutorial is designed with visual aids and practical examples to
        help you apply the knowledge immediately.
      </p>
    </div>
    <video controls class="A-mp4">
      <source src="../static/videos/addtocart.mp4" type="video/mp4" />
    </video>
    <video controls class="B-mp4">
      <source src="../static/videos/checkout.mp4" type="video/mp4" />
    </video>
    <video controls class="C-mp4">
      <source src="../static/videos/search.mp4" type="video/mp4" />
    </video>
    <video controls class="D-mp4">
      <source src="../static/videos/F-or-V.mp4" type="video/mp4" />
    </video>
  </div>
</div>
