<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POS System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <nav>
      <h1>Fresh Produce Merchandising System</h1>
      <div class="hamburger">
        <img
          src="../static/images/hamburger.png"
          alt="menu"
          class="hamburger-icon"
        />
        <img src="../static/images/close.png" alt="close" class="close-icon" />
      </div>
      <div class="dropdown">
        <a href="/check_login">Back to Admin Page</a>
        <p class="help" style="cursor: pointer">Help</p>
        <a href="/logout">Logout</a>
      </div>
    </nav>
    <div class="container">
      {% include 'cart-wrapper.html' %} {% include 'item-wrapper.html' %}
    </div>
    {% include 'keyboard.html' %} {% include 'unit-selected.html' %} {% include
    'help.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/keyboard-handler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/keyboard-initializer.js') }}"></script>
  </body>
</html>
