
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
        <nav>
            <h1>Fresh Produce Merchandising System</h1>
            <div class="Toggle-wrapper">
                <h1>Admin</h1>
                <label class="toggle">
                    <input id="adminToggle" type="checkbox">
                    <span class="slider"></span>
                    <span class="labels" data-on="" data-off=""></span>
                </label>
            </div>
        </nav>
    <div class="container">
        {% include 'cart-wrapper.html' %}
        {% include 'item-wrapper.html' %}
    </div>
    {% include 'popup-add.html' %}
    {% include 'popup-edit.html' %}
    {% include 'keyboard.html' %}

    {% include 'unit-selected.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/keyboard-handler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/keyboard-initializer.js') }}"></script>

</body>

</html>