<style>
  /* Popup Password */
  .popup-password {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .Ppassword {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }

  .Ppassword input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .Ppassword input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }

  .Ppassword input[type="submit"]:hover {
    background-color: #45a049;
  }

  .close-password {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close-password:hover,
  .close-password:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>
<div class="popup-password" id="popupPassword">
  <div class="Ppassword" id="Ppassword">
    <span class="close-password" id="close-password">&times;</span>
    <form method="POST">
      <label for="product_price">Enter your Password</label>
      <input type="password" name="password" placeholder="Password" />
      <input type="submit" name="submit" />
    </form>
  </div>
</div>
