<style>
  /* Popup Container Styles */
  .popup-container {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* Popup Styles */
  .popup {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 80%;
  }

  .popup h2 {
    margin-top: 0;
  }

  /* Close Button Styles */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  /* Form Styles */
  .popup form {
    margin-top: 20px;
  }

  .popup label {
    display: block;
    margin-bottom: 5px;
  }

  .popup input[type="file"],
  .popup input[type="text"],
  .popup input[type="number"],
  .popup input[type="radio"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .popup input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5f264a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Form Group Styles */
  .form-group {
    margin-bottom: 1rem;
  }

  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }

  /* Radio Buttons Styles */
  .radio-buttons input[type="radio"] {
    display: none;
  }

  .radio-buttons label {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
  }

  .radio-buttons input[type="radio"]+label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    vertical-align: middle;
  }

  .radio-buttons input[type="radio"]:checked+label:before {
    background-color: #4caf50;
  }

  /* Popup Input Hover Styles */
  .popup input:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
</style>

<div class="popup-container" id="popupContainer">
    <div class="popup" id="popup">
        <span class="close" id="close-btn">&times;</span>
        <h2>Add Item</h2>
        <form action="/add_product" method="POST" enctype="multipart/form-data">
            <label for="product_image">Product Image:</label>
            <input type="file" id="product_image" name="product_image" accept="image/*">

            <label for="product_name">Product Name:</label>
            <input type="text" id="product_name" name="product_name" required autocomplete="off">

            <label for="product_price_add">Product Price:</label>
            <input type="number" id="product_price_add" name="product_price" required autocomplete="off">

            <div class="form-group mb-3">
                <div class="radio-buttons">
                    <label for="product_type">Product Type:</label>
                    <input type="radio" name="product_type" id="vegetable" value="Vegetable" required>
                    
                    <label for="vegetable">Vegetable</label>
                    <input type="radio" name="product_type" id="fruit" value="Fruit" required>
                    
                    <label for="fruit">Fruit</label>
                </div>
            </div>
            <input type="submit" name="submit"></input>
        </form>
    </div>
</div>